button {
    &:focus {
        @apply outline-none;
    }
}

.btn {
    @apply
        px-5
        py-2
        min-w-20
        rounded-lg
        bg-opacity-100
        cursor-pointer
        hover:shadow-md
        hover:bg-opacity-90
        focus:outline-none;

    // &:hover {
    //     @apply shadow-md;
    // }

    // &:focus {
    //     @apply outline-none;
    // }
}

.btn-primary {
    @apply
        btn
        bg-yellow-800
        text-gray-200;
}

.btn-success {
    @apply
        bg-green-500
        btn
        text-gray-200;
}

.btn-danger {
    @apply
        bg-red-500
        btn
        text-gray-200;
}

.btn-flat {
    @apply
        btn
        text-gray-200
        border
        border-gray-700
        hover:text-gray-100
        hover:border-gray-600;
}
