button {
    &:focus {
        @apply outline-none;
    }
}

.btn {
    @apply
        px-5
        py-2
        min-w-20
        rounded-lg
        bg-opacity-100
        cursor-pointer;

    &:hover {
        @apply  
            shadow-md
            bg-opacity-90
    }
}

.btn-primary {
    @apply
        btn
        bg-yellow-800
        text-gray-200;
}

.btn-success {
    @apply
        btn
        bg-green-500
        text-gray-200;
}

.btn-danger {
    @apply
        bg-red-500
        btn
        text-gray-200;
}

.btn-flat {
    @apply
        btn
        dark:text-gray-200
        border
        dark:border-gray-700;
    
    &:hover {
        @apply
            border-gray-400
            dark:text-gray-100
            dark:border-gray-600;
    }
}
