@font-face {
    font-family: "Comfortaa";
    src: url('../assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Cuprum";
    src: url('../assets/fonts/cuprum/Cuprum-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Manrope";
    src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Merriweather Sans";
    src: url('../assets/fonts/merriweather-sans/MerriweatherSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Oswald";
    src: url('../assets/fonts/oswald/Oswald-VariableFont_wght.ttf');
}


@font-face {
    font-family: "Quicksand";
    src: url('../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Sansita Swashed";
    src: url('../assets/fonts/sansita-swashed/SansitaSwashed-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Ubuntu";
    src: url('../assets/fonts/ubuntu/Ubuntu-Regular.ttf');
}